<h1><%= t('views.common.title_index', name: User.model_name.human) %></h1>
<% @users.each do |user| %>
  <div>
    <%= link_to user.email, user_path(user) %>
  </div>
<% end %>

<%= paginate @users %>
