<div id="<%= dom_id report %>">
  <p>
    <strong>Title:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= report.content %>
  </p>

  <p>
    <small><%= report.created_at.strftime("%Y-%m-%d %H:%M") %></small>
  </p>
</div>
